:root {
  --white-color: #fff;
  --light-green: #13ab67;
  --dark-color: #3f3f42;
  --gray-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer {
  padding: 1rem 5%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.3rem;
  color: var(--light-green);
  display: flex;
  align-items: center;
}

main {
  padding-top: 5.5rem;
  color: var(--dark-color);
  min-height: calc(100vh - 52px);
  background-color: var(--gray-color);
}

.app {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: .8rem;
}

.app .tabs {
  --tab-count: 4;
  --active: 0;

  display: flex;
  position: relative;
  isolation: isolate;
  height: 3.5rem;
  border-block-end: 1px solid var(--white-color);
}

.tabs input {
  display: none;
}

.tabs label {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: color .5s ease-in-out;
}

.tabs input:checked + label {
  color: var(--light-green);
}

.tabs::after {
  pointer-events: none;
  position: absolute;
  content: "";
  inset: 0 0 -1px;
  width: calc((100% / var(--tab-count)) - 2px);
  z-index: -1;
  border-radius: .5rem .5rem 0 0;
  border: 1px solid var(--gray-color);
  border-block-end: none;
  background-image: linear-gradient(var(--light-green), var(--white-color));
  translate: calc(var(--active) * 100%);
  transition: translate .5s ease-in-out;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}

[class^="tab-contents-"] {
  display: none;
}

.app:has(:checked:nth-of-type(1)) .tab-contents-header,
.app:has(:checked:nth-of-type(2)) .tab-contents-body,
.app:has(:checked:nth-of-type(3)) .tab-contents-footer,
.app:has(:checked:nth-of-type(4)) .tab-contents-preview {
  display: block;
}

footer {
  background-color: var(--light-green);
  color: var(--white-color);
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 481px) {
  header, main, footer {
    padding: 1rem 6%;
  }

  main {
    padding-top: 5.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 1.8rem;
  }
}
